@use "@scss/globals" as *;

.hero {
    display: flex;
    flex-direction: column;
    height: 904px;
    overflow: hidden;

    &__bg__img__container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(360deg, rgba(36, 36, 36, 0.6) 6.15%, #031200 74.5%);
            opacity: 0.7;
            pointer-events: none;
            z-index: 1;
            height: 800px;
        }
    }

    &__bg__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 800px;
        object-fit: cover;
        scale: 1.05;
        translate: 9px 0px;
        z-index: 0;
    }

    &__top {
        padding-top: 134px;
        z-index: 2;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        // padding: 0 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 20px;
    }

    &__heading {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.02em;
    }

    &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        height: 48px;
        display: flex;
        justify-content: center;

        button {
            width: 170.5px;
            padding: 12px 0px ;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 2;
        width: 100%;
        background-color: $white;
        margin-top: 40px;
        padding: 16px 24px;
        border-radius: 16px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.06);

        &Title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        &__input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__cta {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid red;
        padding: 7px 12px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #D5D8E2;
        border-radius: 12px;

        span {
            width: 294px;
            height: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        input {
            border: none;

            &:focus,
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
        }
    }

    &__submit {
        button {
            width: 100%;
            border-radius: 12px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__input {
            // margin-top: 4px;

            &:hover {
                cursor: pointer;
            }
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $grey-600;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

// @include respond(xl) {
//     /* xl = 1440 px di $breakpoints */
//     .hero {
//         min-height: calc(100vh - 96px); /* header 96 px */
//         padding-top: 160px; /* beri ruang di atas */

//         /* background tetap full‑cover */
//         &__bg__img {
//             object-position: center top;
//         }

//         /* teks & tombol di tengah kiri */
//         &__top {
//             max-width: 720px;
//             text-align: left;
//             margin-left: 120px;
//             padding: 0;
//         }

//         &__heading {
//             // @include font-style(display-1, bold);
//         }
//         &__description {
//             // @include font-style(body-lg);
//             margin: 24px 0 40px;
//             width: 520px;
//         }

//         &__actions {
//             justify-content: flex-start;
//             gap: 32px;
//         }

//         &__button {
//             padding: 18px 32px;
//             font-size: 1rem;
//         }

//         /* kartu form (CTA) mengambang di kanan‑bawah */
//         &__form {
//             position: absolute;
//             right: 120px;
//             bottom: -180px; /* menonjol ke area di luar hero */
//             max-width: 420px;
//             padding: 40px 36px 48px;
//             border-radius: 20px;
//         }

//         &__ctaTitle {
//             // @include font-style(heading-2, semibold);
//         }

//         &__form {
//             gap: 20px;
//             margin-top: 32px;
//         }

//         &__field input {
//             padding: 14px 16px;
//         }

//         &__submit {
//             margin-top: 4px;
//             padding: 16px 0;
//         }

//         &__checkbox {
//             margin-top: 12px;
//             span {
//                 width: 100%;
//             }
//         }
//     }
// }
