@use "@scss/globals" as *;

.hero {
    display: flex;
    flex-direction: column;
    background-color: $bg-primary;

    &__bg__img__container {
        overflow: hidden;
        height: 800px;
        position: absolute;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(360deg, rgba(36, 36, 36, 0.6) 6.15%, #031200 74.5%);
            opacity: 0.7;
            pointer-events: none;
            z-index: 1;
            height: 798px;
        }
    }

    &__bg__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 727px;
        object-fit: cover;
        scale: 1.1;
        translate: 17px 35px;
        z-index: 1;
    }

    &__top {
        padding-top: 134px;
        z-index: 2;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 20px;
    }

    &__heading {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.02em;
    }

    &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        height: 48px;
        display: flex;
        justify-content: center;

        button {
            width: 170.5px;
            padding: 12px 0px ;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 2;
        width: 100%;
        background-color: $white;
        margin-top: 40px;
        padding: 24px 16px;
        border-radius: 16px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.06);

        @include respond(md) {
            margin-top: 80px;
        }


        &Title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        
        &__container{
            display: flex;
            flex-direction: column;
            gap: 24px;
            
        }

        &__input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__cta {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
        &__titleSuccess {
            text-align: center;
            padding: 140px 16px;
          
          }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 6px;
        border: 1px solid red;
        padding: 7px 12px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #D5D8E2;
        border-radius: 12px;

        span {
            width: 294px;
            height: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        input {
            border: none;
            font-size: 14px;

            &:focus,
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
        }
    }

    &__submit {
        height: 48px;

        button {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__input {

            &:hover {
                cursor: pointer;
            }
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $grey-600;

            &:hover {
                cursor: pointer;
            }
        }

       
    }

   
      
}

@include respond(lg) {
    .hero {
    
        &__bg__img__container {
            height: 654px;

            &::after {
                height: 654px;
            }
        }
    
        &__bg__img {
            height: 654px;
            scale: 1.5;
            translate: 120px 140px;
        }
    
        &__top {
            padding-top: 176px;
        }
    
        &__container {
            gap: 40px;
        }

        &__text {
            padding: 0 130px;
        }

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 74px;
            line-height: 70px;
        }
    
        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &__buttons {

            button {
                width: 188px;

                &:nth-child(2) {
                    width: 153px;
                }
            }
        }

        &__form {
            gap: 16px;
            margin-top: 60px;
            padding: 24px 24px;
            border-radius: 20px;
            max-width: 900px;

            &Title {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }
            &__container{
                gap: 16px;   
            }
            &__input {
                flex-direction: row;
                gap: 16px;
                justify-content: center;
                align-items: flex-end;

                &__cta {
                    flex-direction: row;
                }
            }

            &__titleSuccess {
                padding: 30px 16px;
            
            }
        
        }
 
        &__field {
            width: 200px;

            span {
            }
    
            input {
                &:focus,
                &:focus-visible {
                }
            }
        }
    
        &__submit {
            display: flex;
            align-items: end;

            button {
                height: 48px;
            }
        }
    
        &__checkbox {
            justify-content: unset;
            padding-left: 50px;
    
            &__input {
    
                &:hover {
                }
            }
    
            span {
    
                &:hover {
                }
            }
        }
    }
}

@include respond(xl) {
    .hero {
        &__bg__img__container {
            &::after {
                height: 654px;
            }
        }

        &__bg__img {
            height: 654px;
            scale: 1.46;
            translate: 150px 150px;
        }

        &__top {
            padding-top: 176px;
        }
    
        &__container {
            gap: 40px;
        }

        &__text {
            padding: 0 270px;
        }

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 74px;
            line-height: 70px;
        }

        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &__buttons {
            button {
                width: 188px;

                &:nth-child(2) {
                    width: 153px;
                }
            }
        }

        &__form {
            gap: 16px;
            margin-top: 120px;
            padding: 24px 24px;
            border-radius: 20px;
            max-width: 1200px;

            &Title {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }

            &__input {
                flex-direction: row;
                gap: 16px;
                justify-content: center;
    
                &__cta {
                    flex-direction: row;
                }
            }
        }
    
        &__field {
            width: 200px;
    
            span {
            }
    
            input {
                &:focus,
                &:focus-visible {
                }
            }
        }
    
        &__submit {
            display: flex;
            align-items: end;

            button {
                height: 48px;
            }
        }
    
        &__checkbox {
            justify-content: unset;
            padding-left: 203.5px;
    
            &__input {
                &:hover {
                }
            }

            span {
                &:hover {
                }
            }
        }
    }
}
