@use "@scss/globals" as *;

.hero {
    display: flex;
    flex-direction: column;
    // height: 904px;
    overflow: hidden;
    background-color: $bg-primary;

    &__bg__img__container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(360deg, rgba(36, 36, 36, 0.6) 6.15%, #031200 74.5%);
            opacity: 0.7;
            pointer-events: none;
            z-index: 1;
            height: 800px;
        }
    }

    &__bg__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 800px;
        object-fit: cover;
        scale: 1.05;
        translate: 9px 0px;
        z-index: 0;
    }

    &__top {
        padding-top: 134px;
        z-index: 2;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        // padding: 0 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 20px;
    }

    &__heading {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        letter-spacing: -0.02em;
    }

    &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: $white;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        height: 48px;
        display: flex;
        justify-content: center;

        button {
            width: 170.5px;
            padding: 12px 0px ;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 2;
        width: 100%;
        background-color: $white;
        margin-top: 40px;
        padding: 16px 24px;
        border-radius: 16px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.06);

        @include respond(md) {
            margin-top: 80px;
        }

        &Title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        &__input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__cta {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid red;
        padding: 7px 12px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #D5D8E2;
        border-radius: 12px;

        span {
            width: 294px;
            height: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: $grey-950;
        }

        input {
            border: none;

            &:focus,
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
        }
    }

    &__submit {
        button {
            width: 100%;
            border-radius: 12px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &__input {
            // margin-top: 4px;

            &:hover {
                cursor: pointer;
            }
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: $grey-600;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@include respond(lg) {
    .hero {
        // display: flex;
        // flex-direction: column;
        // height: 754px;
        // overflow: hidden;
        // background-color: $bg-primary;
    
        &__bg__img__container {
            // position: relative;
    
            &::after {
                // content: '';
                // position: absolute;
                // inset: 0;
                // background: linear-gradient(360deg, rgba(36, 36, 36, 0.6) 6.15%, #031200 74.5%);
                // opacity: 0.7;
                // pointer-events: none;
                // z-index: 1;
                height: 654px;
            }
        }
    
        &__bg__img {
            // position: absolute;
            // inset: 0;
            // width: 100%;
            height: 654px;
            // object-fit: cover;
            // scale: 1.05;
            // translate: 9px 0px;
            // z-index: 0;
        }
    
        &__top {
            padding-top: 176px;
            // z-index: 2;
        }
    
        &__container {
            // display: flex;
            // flex-direction: column;
            gap: 40px;
        }

        &__text {
            // display: flex;
            // flex-direction: column;
            // gap: 16px;
            padding: 0 270px;
        }
    
        &__heading {
            // color: $white;
            // font-style: normal;
            // font-weight: 700;
            // font-size: 44px;
            // line-height: 44px;
            // text-align: center;
            // letter-spacing: -0.02em;
            font-style: normal;
            font-weight: 700;
            font-size: 74px;
            line-height: 70px;
        }
    
        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    
        &__buttons {
            // display: flex;
            // gap: 12px;
            // height: 48px;
            // display: flex;
            // justify-content: center;
    
            button {
                width: 188px;
                // padding: 12px 0px ;
    
                // font-style: normal;
                // font-weight: 500;
                // font-size: 14px;
                // line-height: 20px;
                // letter-spacing: -0.02em;

                &:nth-child(2) {
                    width: 153px;
                }
            }
        }
    
        &__form {
            // display: flex;
            // flex-direction: column;
            gap: 16px;
            // z-index: 2;
            // width: 100%;
            // background-color: $white;
            margin-top: 120px;
            padding: 24px 24px;
            border-radius: 20px;
            max-width: 1200px;
            // margin-left: auto;
            // margin-right: auto;
            // box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.06);
    
            &Title {
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }
    
            &__input {
                // display: flex;
                flex-direction: row;
                gap: 16px;
                justify-content: center;
    
                &__cta {
                    // display: flex;
                    flex-direction: row;
                    // gap: 16px;
                }
            }
        }
    
        &__field {
            // display: flex;
            // flex-direction: column;
            // gap: 8px;
            // border: 1px solid red;
            // padding: 7px 12px;
            // box-sizing: border-box;
            // background: #FFFFFF;
            // border: 1px solid #D5D8E2;
            // border-radius: 12px;
            width: 200px;
    
            span {
                // width: 294px;
                // height: 16px;
                // font-style: normal;
                // font-weight: 400;
                // font-size: 12px;
                // line-height: 16px;
                // letter-spacing: -0.02em;
                // color: $grey-950;
            }
    
            input {
                // border: none;
    
                &:focus,
                &:focus-visible {
                    // outline: none;
                    // box-shadow: none;
                }
            }
        }
    
        &__submit {
            display: flex;
            align-items: end;

            button {
                // width: 100%;
                // border-radius: 12px;
                height: 48px;
            }
        }
    
        &__checkbox {
            // display: flex;
            // align-items: center;
            justify-content: unset;
            padding-left: 203.5px;
            // gap: 8px;
    
            &__input {
                // margin-top: 4px;
                // height: 20px;
                // width: 20px;
    
                &:hover {
                    // cursor: pointer;
                }
            }
    
            span {
                // font-style: normal;
                // font-weight: 400;
                // font-size: 16px;
                // line-height: 24px;
                // letter-spacing: -0.02em;
                // color: $grey-600;

                /* TripTales may contact me for feedback on design and features */

    
                &:hover {
                    // cursor: pointer;
                }
            }
        }
    }
}
