@use "@scss/globals" as *;

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 12px 24px;
    border-radius: 80px;
    background-color: $white;
    height: 72px;
    max-width: 1200px;
    top: 24px;
    z-index: 99;
    translate: -50%;
    left: 50%;
    width: 100%;
    transition:
        border-radius 0.2s,
        top 0.2s;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        img {
            height: 52px;
        }
    }

    &__links {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    &__buttons {
        display: flex;
        gap: 8px;
        height: 44px;
    }

    &__hamburger {
        display: none;
    }

    &__overlay {
        display: none;
    }

    &--scrolled {
        border-radius: 0 !important;
        top: 0 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
        max-width: unset;
    }
}

@media (max-width: 1023.98px) {
    .navbar {
        border-radius: unset;
        top: 0px;
        padding: 20px;

        &__container {

        }

        &__logo {
            img {
                height: 34px;
            }
        }

        &__links,
        &__buttons {
            display: none;
        }

        &__hamburger {
            display: block;
            cursor: pointer;
        }

        &__overlay {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.6);
            z-index: 999;
            align-items: flex-start;
            justify-content: flex-end;
        }

        &__overlayContent {
            background: $white;
            width: 75vw;
            max-width: 320px;
            height: 100%;
            padding: 32px 24px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            position: relative;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
        }

        &__close {
            background: none;
            border: none;
            font-size: 2rem;
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }

        &__overlayContent ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__overlayButtons {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}
