@use '@scss/globals' as *;

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    background-color: $white;
    height: 72px;
    max-width: 1200px;
    top: 24px;
    z-index: 99;
    translate: -50%;
    left: 50%;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 12px 12px 24px;
        width: 100%;
    }

    &__logo {
        // height: 48px;

        img {
            height: 52px;
        }
    }

    &__links {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    &__buttons {
        display: flex;
        gap: 8px;
        height: 44px;
    }
}