@use "@scss/globals" as *;

html {
    scroll-behavior: smooth;
}

body {
    min-width: 390px;
    font-family: $ff-display;
    overflow-x: hidden;
}

a {
    color: $grey-950;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: $ff-display;
}