@font-face {
    font-family: "DM Sans UI Text";
    src: url("../fonts/DMSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans UI Text";
    src: url("../fonts/DMSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans UI Text";
    src: url("../fonts/DMSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans UI Text";
    src: url("../fonts/DMSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
